body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;

	padding: 0;
	margin: 0;
	background-color: #ffffff;
}

/*Global*/
:root {
    --blue-color: #5797ff;
    --gray-color: #404040;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

.dark{
	padding: 15px;
	background: var(--gray-color);
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}

.button1{
	background: var(--blue-color);
	border: 0;
	color: #fff;
	height: 25px;
	width: 55px;
	text-transform: uppercase;
	margin-top: 10px;
}

/*Header*/
header{
	background: var(--gray-color);
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: var(--blue-color) 8px solid;
}

header a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #brand{
	float: left;
}

header #brand h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a{
	color: var(--blue-color);
	font-weight: bold;
}

header a:hover{
	color: var(--blue-color);
	font-weight: bold;
}

/*Showcase*/
#showcase{
	background: 
	    linear-gradient(
	      rgba(0, 0, 0, 0.6),
	      rgba(0, 0, 0, 0.6)
	    ),
    	url('../img/peopleNetwork.jpg');
  	background-size: cover;
	min-height: 400px;
	background-repeat: no-repeat;
	text-align: center;
}

#showcase h1{
	margin-top: 80px;
	font-size: 55px;
	margin-bottom: 10px;
	color: #fff
}

#showcase p{
	font-size: 25px;
	color: #fff
}

/*Boxes*/
#boxes{
	margin-top: 20px;
}

#boxes .box{
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
}

#boxes .box img{
	width: 90px;
	height: 90px;
}

/*Sidebar*/
aside#sidebar{
	float: right;
	width: 30%;
	margin-top: 10px;
}

aside#sidebar .contact input, aside#sidebar .contact textarea{
	width: 90%;
	padding: 5px;
}

/*About Main*/
article#main-col{
	margin-top: 20px;
	float: left;
	width: 60%;
}

footer{
	padding: 20px;
	margin-top: 20px;
	color: #fff;
	background: var(--blue-color);
	text-align: center;
}

/*Media Queries - Adjusting elements for smaller displays*/
@media(max-width: 768px){
	header #brand,
	header nav,
	header nav li{
		float: none;
		text-align: center;
		width: 100%
	}

	header{
		padding-bottom: 20px;
	}

	#showcase h1{
		margin-top: 40px;
	}
}