<!DOCTYPE html>
<html>

	<head>
		<meta charset = "utf-8">
		<meta name = "viewport" content = "width = device-width">
		<meta name = "author" content = "Fredie Unabia">

		<title>Gene | About</title>
		<link rel = "stylesheet" type = "text/css" href = "../static/css/style.css">
	</head>

	<body>
		<header>
			<div class = "container">
				<div id = "brand">
					<h1>
						<span class = "highlight">Gene</span> Marketing
					</h1>
				</div>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li class = "current"><a href="about.html">About</a></li>
						<li><a href="contactUs.html">Contact Us</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<section id = "main">
			<div class = "container">
				<article id = "main-col">
					<h1 class = "page_title">About Us</h1>
					<p>
						Aliquam ut facilisis turpis. Proin et augue et sem auctor vestibulum in in nunc. Nullam est lorem, condimentum pellentesque nunc non, feugiat congue turpis. Pellentesque tempus odio sed augue sodales, sed condimentum libero aliquet. Ut eu magna et nibh sodales maximus. Proin commodo porta elit, eu molestie dolor. 
					</p>
					<p>
						Nunc ipsum diam, tempus sit amet mattis eget, accumsan et orci. Ut ante urna, scelerisque id blandit at, condimentum interdum metus. Pellentesque eu fermentum magna, quis ullamcorper felis. Donec quis hendrerit turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque euismod nulla tellus, a ultrices ipsum porttitor ac.
					</p>
				</article>

				<aside id = "sidebar">
					<div class = "dark">
						<h3 class = "mission">Our Mission</h3>
						<p>
							Donec malesuada convallis consectetur. Aenean eget sollicitudin mi, eget scelerisque erat. Aliquam eget tempus ligula. Praesent leo eros, congue vitae pharetra at, pretium quis odio. Aliquam pharetra risus erat, non elementum dolor dictum vitae. Suspendisse suscipit sodales magna, vitae ornare odio semper quis. 
						</p>
					</div>
				</aside>
			</div>
		</section>

		<footer>
			<p>Gene Marketing, Copyright &copy; 2018</p>
		</footer>
	</body>

</html>