<!DOCTYPE html>
<html>

	<head>
		<meta charset = "utf-8">
		<meta name = "viewport" content = "width = device-width">
		<meta name = "author" content = "Fredie Unabia">

		<title>Gene | Home</title>
		<link rel = "stylesheet" href = "/static/css/style.css">
	</head>

	<body>
		<header>
			<div class = "container">
				<div id = "brand">
					<h1>
						<span class = "highlight">Gene</span> Marketing
					</h1>
				</div>
				<nav>
					<ul>
						<li class = "current"><a href="/">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="contactUs.html">Contact Us</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<section id = "showcase">
			<div class = "container">
				<h1>Multibuy World</h1>
				<p>Etiam eget blandit nisl, et efficitur sem. Donec enim sapien, congue sit amet nunc eu, auctor semper orci. Etiam et mi vel nibh dapibus ultricies et vitae urna.</p>
			</div>
		</section>

		<section id = "boxes">
			<div class = "container">
				<div class = "box">
					<img src="../static/img/revenueShare.jpg">
					<h3>Revenue Share</h3>
					<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>	
				</div>

				<div class = "box">
					<img src="../static/img/euroCredits.png">
					<h3>Euro Credits</h3>
					<p>In porttitor tempor libero vel porttitor. Donec euismod ultricies massa. Pellentesque convallis urna vitae elementum euismod.</p>
				</div>

				<div class = "box">
					<img src="../static/img/euroCrypto.png">
					<h3>Cryptocurrency</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo tellus ac enim aliquet, non placerat nibh tincidunt. In at massa eu ex lobortis facilisis ac vel neque.</p>
				</div>
			</div>
		</section>

		<footer>
			<p>Gene Marketing, Copyright &copy; 2018</p>
		</footer>
	</body>

</html>